extends ../_includes/layout

block variables
  - var template = 'project'

block content
  .project
    .project__wrapper
      .project__hero
        .project__hero__image
          .project__filtre
          figure.project__media
            img.project__media__image(alt=project.data.image.alt data-src=project.data.image.url cross-origin="anonymous")

        .project__hero__texts
          h1.project__title(data-animation="title")=project.data.title
          p.project__description=project.data.description

        .project__hero__scroller
          div

        figure.project__media
          img.project__media__image(alt=project.data.image.alt data-src=project.data.image.url cross-origin="anonymous")

        figure.project__media
          img.project__media__image(alt=project.data.image.alt data-src=project.data.image.url cross-origin="anonymous")
